.background {
    background-color: #1b2562;
    height: auto;
    min-height: 80vh;
}

.detail-loading {
    height: 20rem;
    width: 20rem;
    border: 1rem solid #be0a15;
    border-right-color: transparent;
}