@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:ital,wght@0,300;1,300&display=swap');

.logo {
    font-family: 'Bangers', cursive;
    font-size: 2.5rem;
    color: #be0a15;
    text-shadow: 1px 1px 3px #e49016;
    letter-spacing: 0.25rem;
}

.navbar {
    height: 6rem;
}

.logo-link {
    text-decoration: none;
}

.logo-container {
    width: 20%;
    background-image: url(../../assets/logobg.png);
    background-size: 25%;
    background-position: center;
    background-repeat: no-repeat;
}