.background {
    background-color: #1b2562;
    height: auto;
    min-height: 95vh;
}

.banner {
    background-image: url(../../assets/banner.jpg);
    height: 5rem;
    background-position: center;
}