.background {
    background-color: #1b2562;
    height: auto;
    min-height: 80vh;
}

.message {
    font-family: 'Bangers', cursive;
    font-size: 3rem;
    color: #be0a15;
    text-shadow: 1px 1px 3px #e49016;
    letter-spacing: 0.2rem;
}

.good {
    background-color: #81d7ff;
}

.bad {
    background-color: #ff8a90;
}