.validation-field {
    height: 20%;
    display: block;
}

.validation-text {
    font-size: 0.9rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    font-weight: 400;
}

.login-btn {
    height: 80%;
    border-radius: 0.25rem;
}

.logged {
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    font-weight: 400;
}
